<div class="main-container">
  <div class="base generate">
  <button class="button-17" role="button" (click)="getKey()">Generate Key</button>
    <div>Generated key: <br>
      <textarea type="text" rows="2" cols="40" readonly  [(ngModel)]="generatedKey"></textarea>
    </div>
  </div>
  <div class="base encrypt">
      <div class="gen-text">Message
        <input type="text" [(ngModel)]="msg"><br><br>
      </div>
      <button class="button-17" role="button" (click)="encrypt()">Encrypt With Generated Key</button>
      <div class="gen-text">Encrypted Message
        <textarea type="text" rows="2" cols="40" readonly  [(ngModel)]="encryptedMsg"></textarea>
      </div>
    </div>
    <div class="base encrypt">
      <div class="gen-text">Encrypted Message
        <textarea type="text" rows="2" cols="40" readonly  [(ngModel)]="encryptedMsg"></textarea>
      </div>
      <button class="button-17" role="button" (click)="decrypt()">Decrypt With Generated Key</button>
      <div class="gen-text">Decrypted Message
        <textarea type="text" rows="2" cols="40" readonly  [(ngModel)]="dencryptedMsg"></textarea>
      </div>
    </div>
</div>